.mainPanel {
    width: 90%;
    height: 100%;
    background-color: #EBECF0;
    cursor: pointer;
    margin: 16px;
    border-radius: 5px;
}

.mainPanel:hover {
    background-color: lightgray;
}

@media screen and (min-width: 1200px) {
    .mainPanelAdaptive {
        min-height: 600px;
    }
}

@media screen and (max-width: 1200px) {
    .mainPanelAdaptive {
        min-height: 200px;
    }
}

.textContainer {
    margin: 32px;
    text-align: left;
    min-width: 200px;
    max-width: 600px;
}